doctype html
html
  head
    title Pratyush Dance Academy
    block scripts
    block style
  body
    nav#navbar
         ul#nav 
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services]  
            li #[a(href="/") Contact Us] 
            li #[a(href="/") Class Info]
         div#logo
               img(src="/static/img/logo.png")
               | PDA
    block content
    footer#footer
         | Copyright © www.pratyushdanceacademy.com | All Rights Reserved        